{% extends 'form_div_layout.html.twig' %}
{% import _self as mandatory %}

{% block form_widget_compound%}
    {{ parent() }}
    {% if ((form.vars.block_prefixes.2 is defined) and (form.vars.block_prefixes.2 is not sameas('entity'))) %}
        <span class="mandatory">*</span>
    {% endif %}
{% endblock %}

{% block form_widget_simple%}
    {{ parent() }}
    {% if ((form.vars.block_prefixes.2 is defined) and (form.vars.block_prefixes.2 is not sameas('entity'))) %}
        <span class="mandatory">*</span>
    {% endif %}
{% endblock %}