{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}
    <!-- Brand and Navigation -->
    <header class="navbar navbar-fixed-top">
        <div class="inner-page">
            <h1 class="logo"><img src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/></h1>
            <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse"> <i class="icon-reorder"></i> </a>
        </div>
    </header>

    <h1 style="margin: 100px; color: #444; text-align: center;">No feedbacks yet. Sorry.. </h1>

{% endblock %}