{% extends "::base.html.twig" %}

{% block body %}
<!-- Brand and Navigation -->
<header class="navbar navbar-fixed-top">
    <div class="container">
        <img class="navbar-brand img-responsive" src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/>
        <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse"> <i class="icon-reorder"></i> </a>
    </div>
</header>
    {% block content %}{% endblock %}
{% endblock %}