{% extends "::base.html.twig" %}

{% block body %}
<!-- Brand and Navigation -->
<header class="navbar navbar-fixed-top">
    <div class="inner-page">
        <h1 class="logo"><img src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/></h1>
        <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse"> <i class="icon-reorder"></i> </a>
    </div>
</header>
    {% block content %}{% endblock %}
{% endblock %}