{% extends "::base.html.twig" %}

{% block title %}Login to MeinFeedback{% endblock %}

{% block body %}
    <div class="formular">
        <h3>Kunden Login</h3>

        {% if error %}
            <div class="alert alert-error">
                {% if error.getMessageKey == 'Account is disabled.' %}
                    We are waiting for payment. If you did not do that yet, please click here : <a href="https://meinfeedback.reskribe.com/b01">https://meinfeedback.reskribe.com/b01</a> <br/>
                    If you already paid, please try again latter or contact support.
                {% else %}
                    {{ error.message }}
                {% endif %}
            </div>
        {% endif %}

        <div class="kontaktform">

            <form action="{{ path("mfb_admin_login_check") }}" method="post" id="login" class="form-inline" target="_top">

                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Benutzername"  class="log_feld breite240"/>
                <input type="password" id="password" name="_password"  class="log_feld breite240"  placeholder="Passwort"/>
                <input id="sendOut" class="btn btn-left orange abstandoben breite180" value="Anmelden" type="submit">

            </form>
            {#<p>&nbsp;</p>#}
            {#<p>&nbsp;</p>#}
            {#<p>Sie haben Ihr Passwort vergessen? Klicken Sie <a href="passwort-vergessen/" title="Passwort vergessen" class="login_sublnk fright">hier</a> um ein neues anzufordern.</p>#}

        </div>
    </div>
{% endblock %}
