{% extends 'MFBAdminBundle::base.html.twig' %}

{% block title %}{% trans %} Form Setup {% endtrans %}{% endblock %}

{% block content %}
    <div>
        <div class="row-fluid inner-page contact navLogo">
    Testing in progess
        </div>
    </div>


{% endblock %}