{% extends "::base.html.twig" %}

{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <div class="formular">
        <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">Places setting</div>

        <div class="places">


            <form id="" action="assets/img/joker.png" enctype="multipart/form-data" class="form-inline">
                <input name="Quelle" value="" type="hidden">
                <input name="register-lang" id="register-lang" value="de" type="hidden">
                <div>

                    <input name="firma" id="firma" class="required fr_input_txt fr_97_5pro breite490" type="text" placeholder="Firma*">
                    <input name="address" id="address" class="required fr_input_txt fr_97_5pro breite490" type="text" placeholder="Berlinstraße 31, 10090, Berlin*">

                    <input id="sendOut" class="btn btn-left orange abstandoben breite210" value="Save" type="submit">


            </form>

        </div>
    </div>

{% endblock %}