{% extends "::base.html.twig" %}

{% block title %}Change password{% endblock %}

{% block body %}
<div class="formular">
    <div class="alert">
        {% for flashMessage in app.session.flashbag.get('success') %}
                {{ flashMessage }}
        {% endfor %}
    </div>
</div>
{% endblock %}