parameters:
    database_driver:   pdo_mysql
    database_host:     '<%= database[:host] %>'
    database_port:     ~
    database_name:     meinfeedback
    database_user:     '<%= database[:username] %>'
    database_password: '<%= database[:password] %>'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            MoreSecretKeyHere
