parameters:
    database_driver:   pdo_mysql
    database_host:     '<%= database[:host] %>'
    database_port:     ~
    database_name:     meinfeedback
    database_user:     '<%= database[:username] %>'
    database_password: '<%= database[:password] %>'

    mailer_transport:  smtp
    mailer_host:       email-smtp.us-east-1.amazonaws.com
    mailer_user:       AKIAIMXXXSM5BZRMMFMA
    mailer_password:   "AoHK78zsZG4+22dcVRAx7JLe4HnpeFhOBsZos8KI0Y2y"

    locale:            en
    secret:            MoreSecretKeyHere
