{% extends "::base.html.twig" %}

{% block title %}Email sent{% endblock %}

{% block body %}
<div class="formular">
    <h3>Email sent</h3>
    <p>{% trans %} password.sent.email {% endtrans %}</p>
</div>
{% endblock %}
