{% extends "MFBAccountBundle::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
        {%  if homepage %}
            <script>
                var delay = {{ redirectTimeout }};
                setTimeout(function(){ window.location = 'http://{{ homepage }}';}, delay);
            </script>
            <div class="alert alert-info text-center">
                {% trans %} Your are being redirected {% endtrans %}
            </div>
        {% endif %}
            <h3>{% trans %}  Thank you ! {% endtrans %}</h3>
            <div class="">
               {{ thankyou_text | raw }}
            </div>
        </div>
    </div>
{% endblock %}

