{% extends "::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block body %}
    <header class="navbar navbar-fixed-top">
        <div class="inner-page">
            <h1 class="logo"><img src="{{ asset('bundles/meinfeedbackhome/images/logo-' ~ app.request.locale ~ '.png') }}"/></h1>
        </div>
    </header>
    <div class="row-fluid inner-page thankyou">
    {%  if homepage %}
        <script>
            var delay = {{ redirectTimeout }};
            setTimeout(function(){ window.location = '{{ homepage }}';}, delay);
        </script>
        <div class="alert alert-info">
            {% trans %} Your are being redirected {% endtrans %}
        </div>
    {% endif %}
    <div>
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">
                   {% trans %}  Thank you ! {% endtrans %}
                </div>
                <div class="">
                   {{ thankyou_text | raw }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

