{% extends "MFBAdminBundle::base.html.twig" %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="formular">
    <h3>
        {% trans %} Change password {% endtrans %}
    </h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}
