{% extends "::base.html.twig" %}
{% import "MeinFeedbackHomeBundle::macros.html.twig" as tooltips %}
{% block title %}Welcome to MeinFeedback{% endblock %}

{% block body %}

    <div class="formular_left">
        {% include 'MFBAdminBundle:Widget:widget.html.twig' %}

        {% set vars = {'title':  'Light Icon', 'iconImage': lightIcon } %}
        {% include 'MFBAdminBundle:Widget:icon.html.twig' with vars %}

        {% set vars = {'title':  'Dark Icon', 'iconImage': darkIcon } %}
        {% include 'MFBAdminBundle:Widget:icon.html.twig' with vars%}


    </div>

{% endblock %}