{% extends "::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block body %}
    {%  if homepage %}
        <script>
            var delay = 3000;
            setTimeout(function(){ window.location = '{{ 'http://' ~ homepage }}';}, delay);
        </script>
        <div class="alert alert-info">
            {% trans %} Soon you will be redirected to merchant website automatically. {% endtrans %}
        </div>
    {% endif %}
    <div>
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">
                   {% trans %}  Thank you ! {% endtrans %}
                </div>
                <div class="">
                   {{ thankyou_text | raw }}
                </div>

            </div>

        </div>
    </div>
{% endblock %}

