{% extends "::base.html.twig" %}

{% block title %}MeinFeedback{% endblock %}

{% block body %}
    <div>
        <div class="row-fluid inner-page contact">
            <div class="span6">
                <div style="padding:20px 10px 15px 0; font-size: 24px; font-weight:300;">
                    Thank you !
                </div>
            </div>

        </div>
    </div>
{% endblock %}

