{% extends "::base.html.twig" %}

{% block body %}
    <div class="inner-page row-fluid">
        <div class="span8">
            <h3>{% trans %} Possible template variables {% endtrans %}</h3>
            <table>
                <tbody>
                {% for placeholder in variables %}
                    <tr>
                        <td>{{ placeholder.name }}</td>
                        <td>{{ placeholder.description }}</td>
                        <td>{{ placeholder.example }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}