div.stars_gray {
    background: url("/bundles/mfbfeedback/images/stars_gray.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 42px;
    margin: 15px 0px;
    position: relative;
    width: 246px;
    height: 40px;
}
span.stars_gold {
    background: url("/bundles/mfbfeedback/images/stars_gold.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 42px;
    position: relative;
}

.stars_coords {
    left: 0;
    position: absolute;
    top: 0;
    width: 246px;
    z-index: 1000;
    cursor: pointer;
}
.stars_coords div {
    float: left;
    height: 42px;
    width: 20%;
}

.starError{
    margin:0px 0px 15px 0px;
    font-size: 17px;
    font-weight:300;
    color:red;
    float: left;
}
